pdfa.xmpi
thesis*.aux
thesis*.bbl
thesis*.blg
thesis*.log
thesis*.out
thesis*.synctex.gz
thesis*.toc
thesis*.lof
thesis*.lot
thesis*.fls
thesis*.fdb_latexmk
thesis*.pdf
/bibliography/
/workspace/
/chapters/*.aux
/chapters/*.bbl
/chapters/*.blg
/chapters/*.log
/chapters/*.out
/chapters/*.pdf
/chapters/*.synctex.gz
/chapters/*.toc
/chapters/*.lof
/chapters/*.fls
/chapters/*.fdb_latexmk
/.vscode/